* {
    box-sizing: border-box;
}

body {
    font-size: 112.5%;
    padding: 10px 50px;
    margin: 0;
    font-family: Lato;
    margin: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1 fr);
    height: 100vh;
    overflow:scroll;
    
}

h1 {
    font-family: "Lobster";
    color: #1c7de6;
    font-size: 280%;


}

main {
    overflow: scroll;


}

nav {
    background-color: #d9effa;
    padding: 20px;



   
}