* {
    box-sizing: border-box;
}

body {
    font-size: 112.5%;
    padding: 5% 5%;
    margin: 0;
    font-family: Lato;
    color: #444444;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
} 

 #title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}  

#subtitle {
    grid-column: 1 / 3;
    grid-row: 2 /3;
}
#navbar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
} 

nav {
    padding: 20px;
    width: auto;
    background-color: #cecece;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #1c7de6;
    text-decoration: none;
}

nav a:hover {
   font-weight: 1000;
   color: #15569c;
}
h1 {
    font-family: "Lobster";
    color: #1c7de6;
    font-size: 180%;
    margin-top: 0;
}

main {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(6, auto);
}

.gridFoto {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 80px;
}

.gridInteressen {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgb(236, 245, 248);
    border-radius: 10px;
    padding: 20px;

}

.gridFähigkeiten {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(177, 199, 206);
    border-radius: 10px;
    padding: 20px;
}

.photo {
    border-radius: 8px;
    width: 100%;
}

.logos img {
    width: 100%;
}

.logos div {
    flex: 1;
}

.logos {
    display: flex;
    justify-content: space-between;
}

h2, h3 {
    color: black;
    margin-top: 50px;
}

table {
    border-spacing: 10px 10px;
}

td {
    vertical-align: top;
}

figcaption {
    font-style: italic;
    font-size: small;
    color: #A8A89F;
}

footer {
    color: #A8A89F
    grid-column: 1 / 3;
    grid-row:

}

.listItems {
    list-style-type: circle;
} 

@media (min-width: 550px){
   br {
       display: none; 
   }
}

@media (min-width: 800px){
    h1 {
        font-size: 250%;
    } 
    
    .logos img{
        width: 50%;         
    }
}